*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    padding: 8rem;
    text-align: center;
}

h1 {
    margin-bottom: 5rem;
}

h2 {
    margin-bottom: 2rem;
}

#question {
    font-size: 10rem;
    margin-bottom: 0.5rem;
    border: medium solid black;
    padding: 8rem;
}

input, button {
    font-size: 8rem;
}

button {
    padding: 2rem;
    background-color: rgb(230, 230, 234);
}

button:hover {
    cursor: pointer;
    background-color: #888;
}

#game-over div div {
    font-size: 4rem;
    margin: 3rem;
}

#game-over div div p {
    display: inline-block;
}

#game-form {
    border: medium solid black;
    padding: 1rem;
}

.game-button {
    margin-bottom: 1rem;
}

.game-button-space {
    padding: 0 20rem;
}

.game-button-select {
    font-size: 2rem;
    padding: 0.5rem;
}

#correct-answer {
    font-weight: bold;
    font-style: oblique;
}

.message {
    font-style: oblique;
    margin-bottom: 2rem;
}

#card-face {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5rem;
}

#next {
    margin-top: 2rem;
}

.howdoyoudo-radio {
    display: none;
}

.howdoyoudo-label {
    font-weight: bold;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: #800;
    color: white;
    padding: 1rem 2rem;
    transition: 0.2s;
}

.howdoyoudo-label#label-correct {
    background-color: #080;
}

.howdoyoudo-radio:checked + .howdoyoudo-label {
    filter: brightness(150%);
    font-size: 3rem;
}
