*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    padding: 8rem;
    padding-top: 2rem;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 2rem;
}

#question {
    font-size: 5rem;
    margin-bottom: 0.5rem;
    border: medium solid black;
    padding: 8rem;
}

input, button {
    font-size: 8rem;
}

button {
    padding: 2rem 10rem;
    border-radius: 5%;
    background-color: rgb(230, 230, 234);
}

button:hover {
    cursor: pointer;
    background-color: #888;
}

#game-over div div {
    font-size: 4rem;
    margin: 3rem;
}

#game-over div div p {
    display: inline-block;
}

#game-form {
    border: medium solid black;
    padding: 1rem;
}

.game-button {
    margin-bottom: 1rem;
}

.game-button-space {
    padding: 0 20rem;
}

.game-button-select {
    font-size: 2rem;
    padding: 0.5rem;
}

#correct-answer {
    font-weight: bold;
    font-style: oblique;
}

.message {
    font-style: oblique;
    margin-bottom: 2rem;
}

.card-face {
    font-size: 4rem;
    font-weight: bold;
    margin: 0.5rem;
}

.howyoudo {
    padding: 1rem 2rem;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    transition: 0.2s;
}

.howyoudo:hover {
    filter: brightness(175%);
    font-size: 4rem;
}

#correct {
    background-color: #080;
}

#incorrect {
    background-color: #800;
}

#flip {
    margin-top: 2rem;
}

#wrong-answers {
    margin: 2rem auto;
    border-collapse: collapse;
    font-size: 2.5rem;
}

.wrong-answers-data {
    padding: 1rem;
    border: medium solid black;
}

.round-over-button {
    padding: 2rem 4rem;
    font-size: 5rem;
}

#hotkey-help {
    text-align: left;
}

#hotkey-container {
    display: inline-block;
}

#hotkey-help-title {
    font-style: oblique;
    cursor: pointer;
    background-color: #008;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 1rem;
    font-size: 2.5rem;
    transition: 0.5s;
}

#hotkey-help-title:hover {
    filter: brightness(200%);
}

#hotkey-container:hover #hotkey-menu {
    display: block;
}

#hotkey-menu {
    position: absolute;
    font-size: 2rem;
    display: none;
    background-color: #00A;
    color: white;
    border-collapse: collapse;
}

#hotkey-menu tr, #hotkey-menu td {
    padding: 0.1rem 1rem;
    border: medium solid white;
}

#progress-bar {
    text-align: left;
    background-color: darkslategray;
    border-radius: 1rem;
    color: white;
    border: none;
}

#progress-bar-fill {
    text-align: center;
    background-color: #990;
    transition: width 0.5s ease-in;
    padding: 0.5rem;
    font-size: 2rem;
}
